#gameResult {
    height: 40px;
    width: 162px;
    background-color: rgb(153, 185, 98);
    color: rgb(15, 8, 62);
    text-align: center;
}

#gameBoard {
    height: 162px;
    width: 162px;
    background-color: black;
    display: grid;
    gap: 4px;
    grid-template-columns: auto auto auto;
}

.square {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);

}